body {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    background-color: #000000;
}

a {
    text-decoration: none;
}

.index-body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 40px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.block-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
}

.show-overlay {
    display: block;
}

    /*    Начало шапки    */
.main-header {
    background-color: #000000;
}

.main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-wrapper {
    width: 100%;
    background-color: #000000;
}

.index-body .main-header-wrapper {
    margin-bottom: 60px;
}

.main-header-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.header-navigation-list {
    display: flex;
    width: 720px;
}

.index-body .header-navigation-item {
    padding: 26px 20px;
}

.header-navigation-item {
    padding: 24px 20px 20px;
}

.header-navigation-link,
.header-navigation-item {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.header-navigation-link:hover,
.header-navigation-item:hover,
.user-login-link:hover,
.header-navigation-link:focus,
.header-navigation-item:focus,
.user-login-link:focus {
    background-color: #242424;
}

.on_page:hover,
.on_page:focus {
    background-color: #000000;
    cursor: default;
}

.on_page-mark {
    position: relative;
}

.on_page-mark:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    bottom: -28px;
    left: 0;
}

.user-navigation-list {
    display: flex;
    max-width: 140px;
}

.user-login-link {
    position: relative;
    padding: 26px 20px 26px 52px;
    margin: 0;
    display: block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    width: 107px;
    box-sizing: border-box;
}

.user-login-link::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("img/login.png");
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
    left: 21px;
    top: 28px;
    opacity: 0.3;
}

.user-login-link:hover::before {
    opacity: 1;
}

.popup-login {
    display: none;
    position: fixed;
    width: 460px;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    background-color: #ffffff;
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
    background-position: 0 0;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
    color: #000000;
    z-index: 10;
    padding: 45px 80px 60px 80px;
    box-sizing: border-box;
}

.popup-login-title {
    font-size: 30px;
}

.login-form-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 17px;
}

.popup-login-form input:not([type="checkbox"]) {
    font: inherit;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 43px;
    width: 100%;
    margin-bottom: 9px;
    padding: 7px 35px 7px 16px;
}

.popup-login-form input:focus {
    border-color: #663d15;
    outline: none;
}

.login-field-wrapper {
    position: relative;
}

.login-field-wrapper::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url("../img/png/login-field-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    right: 15px;
    top: 14px;
}

.password-field-wrapper {
    position: relative;
}

.password-field-wrapper::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-image: url("../img/png/password-field-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    right: 15px;
    top: 14px;
}

.login-popup-checkbox_label:hover,
.login-popup-checkbox_label:focus {
    color: #663d15;
}

.login-popup-checkbox_label {
    position: relative;
    padding-left: 30px;
}

.login-popup-checkbox_label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    top: 2px;
    left: 0;
}

#forgot-me:checked ~ .login-form-wrapper .login-popup-checkbox_label::before {
    background-image: url("../img/png/checkbox-icon.png");
    background-position: center;
    background-repeat: no-repeat;
}

.popup-login-forgot_password {
    text-decoration: underline;
    color: #000000;
}

.popup-login-forgot_password:hover,
.popup-login-forgot_password:focus {
    text-decoration: none;
}

.login-form-submit {
    width: 100%;
}

.close-popup {
    font-size: 0;
    position: absolute;
    right: -30px;
    top: 7px;
    border: none;
    background-color: transparent;
    background-image: url("../img/png/close-popup.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main-logo {
margin-left: 50%;
transform: translateX(-50%);
margin-bottom: 62px;
}

.main-button {
display: inline-block;
color: #ffffff;
padding: 15px 34px;
background-color: #000000;
border: none;
text-transform: uppercase;
text-align: center;
vertical-align: middle;
font: inherit;
line-height: 14px;
cursor: pointer;
}

.main-button:hover,
.main-button:focus,
.main-button:active {
background-color: #663d15;
}

.main-button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.main-block h3,
.main-block h2 {
    font-size: 30px;
    line-height: 42px;
}

.main-features {
    margin-bottom: 78px;
}

.features-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 78px;
}

.features-item {
    position: relative;
    max-width: 300px;
}

.features-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    left: 50%;
    margin-left: -10px;
    top: 54px;
    transform: rotate(45deg);
}

.features-item:nth-child(2) {
    margin: 0 20px 0;
}

.features-item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
}

.features-item-text {
    margin: 0;
    padding: 0 8px 0;
    text-align: center;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    background-image: url("../img/jpg/block-bg.jpg");
    background-position: 0 0;
    background-repeat: repeat;
    color: #000000;
    padding: 45px 80px 50px;
    margin-bottom: 36px;
}

.main-news {
    width: 380px;
}

.main-news-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 29px;
}

.main-news-title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
}

.main-news-item {
    margin-bottom: 21px;
}

.main-news-item p {
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

.main-news-item time {
    text-transform: none;
}

.main-gallery {
    width: 300px;
}

.main-gallery-title {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
}

.main-gallery-item {
    height: 164px;
    margin-bottom: 38px;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.main-gallery-item img {
    width: 286px;
    height: 164px;
}

.main-gallery-button_prev,
.main-gallery-button_next {
    width: 140px;
}

.main-gallery-button_next {
    margin-left: 17px;
}

.main-contacts {
    width: 380px;
}

.main-contacts-title {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.main-contacts p {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
}

.main-contacts-map {
    width: 140px;
    padding: 15px 30px;
}

.main-contacts-feedback {
    width: 140px;
    padding: 15px 25px;
    margin-left: 18px;
}

.main-appointment {
    width: 300px;
}

.main-appointment-title {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.main-appointment p {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
}

.main-appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-appointment-form label {
    display: block;
    width: 140px;
    margin-bottom: 8px;
}

.main-appointment-form span {
    margin-left: 18px;
}

.main-appointment-form input {
    box-sizing: border-box;
    width: 140px;
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
    margin-top: 9px;
    padding: 7px 16px;
}

.main-appointment-form input:focus {
    border-color: #663d15;
    outline: none;
}

.main-appointment-button {
    margin-top: 11px;
    width: 100%;
}

.index-footer {
    margin-top: 65px;
    color: #ffffff;
}

.main-footer-wrapper {
    width: 100%;
    padding: 58px 0 43px;
    background-color: #212121;
    background-image: url("../img/jpg/footer-bg.jpg");
    background-repeat: repeat;
    background-position: 0 0;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.main-footer h3 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.main-footer p {
    margin: 0;
    padding: 0;
}

.footer-contacts {
    width: 320px;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    margin-right: auto;
    width: 300px;
    text-align: center;
}

.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-social-item {
    width: 43px;
    height: 43px;
}

.footer-social-item:not(:last-child) {
    margin-right: 6px;
}

.footer-social-link {
    padding: 0;
    margin: 0;
    font-size: 0;
    color: #ffffff;
    width: 43px;
    height: 43px;
}

.social-vk {
    background-image: url("../img/png/social-vk.png");
    background-position: center;
    background-repeat: no-repeat;
}

.social-vk:hover {
    background-image: url("../img/png/social-vk-black.png");
}

.social-fb {
    background-image: url("../img/png/social-facebook.png");
    background-position: center;
    background-repeat: no-repeat;
}

.social-fb:hover {
    background-image: url("../img/png/social-facebook-black.png");
}

.social-instagram {
    background-image: url("../img/png/social-instagram.png");
    background-position: center;
    background-repeat: no-repeat;
}

.social-instagram:hover {
    background-image: url("../img/png/social-instagram-black.png");
}

.footer-social-link:hover,
.footer-social-link:focus {
    color: #000000;
    background-color: #ffffff;
}

.footer-copyrights {
    width: 140px;
    text-align: center;
}

.footer-copytights-link {
    padding: 15px 29px;
}

.footer-copytights-link:hover,
.footer-copytights-link:focus {
    color: #000000;
    background-color: #ffffff;
}

.popup-map {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -390px;
    border: 7px solid #ffffff;
    background-color: #f1efe8;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
    width: 780px;
    height: 574px;
    box-sizing: border-box;
    z-index: 10;
}

.popup-map-block {
    width: 766px;;
    height: 560px;
}

.static-map {
    z-index: 10;
}

.interactive-map {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    border: 0;
    width: 766px;
    height: 560px;
}

.show-popup {
    display: block;
}
